{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"svelteStrictMode": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
